<!DOCTYPE html>
<html>
<head>
  <title>PiggybakStripe</title>
  <%= stylesheet_link_tag    "piggybak_stripe/application", :media => "all" %>
  <%= javascript_include_tag "piggybak_stripe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
